In [1]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_csv("092712052020.csv")
df1=pd.read_csv("merged_0306_0926_2020.csv")

In [35]:
df.date=df.date.astype(str) +'20'
df.date=pd.to_datetime(df.date, format='%m%d%y')

In [51]:
# df1.date=pd.to_datetime(df1.date, format='%Y-%m-%d')

In [17]:
# df['tot_cases_conf'] = np.nan
# df['tot_cases_prob'] = np.nan

In [44]:
df=df[["date", 'tot_cases', 'tot_cases_conf', 'tot_cases_prob', "tot_deaths",
    "tot_deaths_conf", "tot_deaths_prob", "new_cases", "new_deaths" ]]
df1=df1[["date", 'tot_cases', 'tot_cases_conf', 'tot_cases_prob', "tot_deaths",
    "tot_deaths_conf", "tot_deaths_prob", "new_cases", "new_deaths" ]]

In [64]:
mDec.date=pd.to_datetime(mDec.date.astype(str)+'20', format='%m%d%y')

In [67]:
mDec=mDec[["date", 'tot_cases', 'tot_cases_conf', 'tot_cases_prob', "tot_deaths",
    "tot_deaths_conf", "tot_deaths_prob", "new_cases", "new_deaths" ]]

In [71]:
merged_1214=pd.concat([mDec, merged_1205]).sort_values("date", ascending=False)

In [109]:
jan_df=pd.read_csv("121503182021.csv")

In [110]:
jan1=jan_df[jan_df.type == 'Total'].rename(columns={
    "Cases":"tot_cases", "Deaths":"tot_deaths", "New Cases":"new_cases", "New Deaths":"new_deaths"
    ,"New Cases 18 and Under":"new_cases_18_and_under"
}).drop(columns=['type']).reset_index(drop=True)

In [111]:
jan2=jan_df[jan_df.type == 'Confirmed'].rename(columns={
    "Cases":"tot_cases_conf", "Deaths":"tot_deaths_conf", "New Cases":"new_cases_conf", "New Deaths":"new_deaths_conf"
    ,"New Cases 18 and Under":"new_cases_18_and_under_conf"
}).drop(columns=['type']).reset_index(drop=True)

In [112]:
jan3=jan_df[jan_df.type == 'Probable'].rename(columns={
    "Cases":"tot_cases_prob", "Deaths":"tot_deaths_prob", "New Cases":"new_cases_prob", 
    "New Deaths":"new_deaths_prob"
    ,"New Cases 18 and Under":"new_cases_18_and_under_prob"
}).drop(columns=['type']).reset_index(drop=True)

In [113]:
merged_jan=pd.concat([jan1, jan2,jan3], axis=1)

In [121]:
merged_jan=merged_jan.T.drop_duplicates().T

In [125]:
merged_jan=merged_jan[['date','tot_cases','tot_cases_conf','tot_cases_prob', 'tot_deaths', 
            'tot_deaths_conf','tot_deaths_prob', 'new_cases', 'new_deaths', 
            'new_cases_conf', 'new_cases_prob', 'new_deaths_conf', 'new_deaths_prob', 
            'new_cases_18_and_under','new_cases_18_and_under_conf', 
            'new_cases_18_and_under_prob']]

In [127]:
#save this file for later
merged_jan.head()

,date,tot_cases,tot_cases_conf,tot_cases_prob,tot_deaths,tot_deaths_conf,tot_deaths_prob,new_cases,new_deaths,new_cases_conf,new_cases_prob,new_deaths_conf,new_deaths_prob,new_cases_18_and_under,new_cases_18_and_under_conf,new_cases_18_and_under_prob
0,2021-03-18,419149,320032,99117,5504,4987,517,785,448,472,313,406,42,164,107,57
1,2021-03-17,418372,319559,98813,5056,4581,475,963,27,593,370,24,3,159,85,74
2,2021-03-16,417412,318956,98456,5029,4557,472,819,24,462,357,22,2,122,59,63
3,2021-03-15,416610,318472,98138,5005,4535,470,396,23,310,86,21,2,40,30,10
4,2021-03-14,416215,318158,98057,4982,4514,468,445,16,349,96,15,1,78,62,16

In [138]:
merged_0318=pd.concat([merged_jan, merged_1214]).reset_index(drop=True)

In [146]:
df=pd.read_csv("031906012021.csv")

In [153]:
df1=df[df.type == 'Total'].rename(columns={
    "Cases":"tot_cases", "Deaths":"tot_deaths", "New Cases":"new_cases", "New Deaths":"new_deaths", 
    "New Audit Deaths":"audit_deaths",
    "New Cases 18 and Under":"new_cases_18_and_under"
}).drop(columns=['type', 'Total New Deaths']).reset_index(drop=True)

df2=df[df.type == 'Confirmed'].rename(columns={
    "Cases":"tot_cases_conf", "Deaths":"tot_deaths_conf", "New Cases":"new_cases_conf", "New Deaths":"new_deaths_conf"
    ,"New Cases 18 and Under":"new_cases_18_and_under_conf"
}).drop(columns=['type','New Audit Deaths', 'Total New Deaths']).reset_index(drop=True)

df3=df[df.type == 'Probable'].rename(columns={
    "Cases":"tot_cases_prob", "Deaths":"tot_deaths_prob", "New Cases":"new_cases_prob", 
    "New Deaths":"new_deaths_prob"
    ,"New Cases 18 and Under":"new_cases_18_and_under_prob"
}).drop(columns=['type', 'New Audit Deaths','Total New Deaths']).reset_index(drop=True)

In [159]:
merged_df=pd.concat([df1, df2,df3], axis=1).T.drop_duplicates().T

merged_df.columns

Index(['tot_cases', 'tot_deaths', 'new_cases', 'new_cases_18_and_under',
       'new_deaths', 'audit_deaths', 'date', 'tot_cases_conf',
       'tot_deaths_conf', 'new_cases_conf', 'new_cases_18_and_under_conf',
       'new_deaths_conf', 'tot_cases_prob', 'tot_deaths_prob',
       'new_cases_prob', 'new_cases_18_and_under_prob', 'new_deaths_prob'],
      dtype='object')

In [162]:
merged_df=merged_df[['date','tot_cases','tot_cases_conf','tot_cases_prob', 'tot_deaths', 
            'tot_deaths_conf','tot_deaths_prob', 'new_cases', 'new_deaths', 'audit_deaths',
            'new_cases_conf', 'new_cases_prob', 'new_deaths_conf', 'new_deaths_prob', 
            'new_cases_18_and_under','new_cases_18_and_under_conf', 
            'new_cases_18_and_under_prob']]

In [172]:
df_0601=pd.concat([merged_df, merged_0318]).reset_index(drop=True)

In [189]:
df=pd.read_csv("060207232021.csv")

In [192]:
df1=df[df.type == 'Total'].rename(columns={
    "Cases":"tot_cases", "Deaths":"tot_deaths", "New Cases":"new_cases", "Total New Deaths":"new_deaths", 
    "New Cases 18 and Under":"new_cases_18_and_under"
}).drop(columns=['type']).reset_index(drop=True)

df2=df[df.type == 'Confirmed'].rename(columns={
    "Cases":"tot_cases_conf", "Deaths":"tot_deaths_conf", "New Cases":"new_cases_conf", "Total New Deaths":"new_deaths_conf"
    ,"New Cases 18 and Under":"new_cases_18_and_under_conf"
}).drop(columns=['type']).reset_index(drop=True)

df3=df[df.type == 'Probable'].rename(columns={
    "Cases":"tot_cases_prob", "Deaths":"tot_deaths_prob", "New Cases":"new_cases_prob", 
    "Total New Deaths":"new_deaths_prob"
    ,"New Cases 18 and Under":"new_cases_18_and_under_prob"
}).drop(columns=['type']).reset_index(drop=True)

In [199]:
merged_df=pd.concat([df1, df2,df3], axis=1).T.drop_duplicates().T
merged_df=merged_df[['date','tot_cases','tot_cases_conf','tot_cases_prob', 'tot_deaths', 
            'tot_deaths_conf','tot_deaths_prob', 'new_cases', 'new_deaths',
            'new_cases_conf', 'new_cases_prob', 'new_deaths_conf', 'new_deaths_prob', 
            'new_cases_18_and_under','new_cases_18_and_under_conf', 
            'new_cases_18_and_under_prob']]

In [204]:
df_0723=pd.concat([df_0601, merged_df]).reset_index(drop=True)

In [210]:
df_0723.date=pd.to_datetime(df_0723.date, format='%Y-%m-%d')

In [214]:
df_0723=df_0723.sort_values('date', ascending=False)

In [215]:
df_0723.to_csv("covid_data_0723.csv", index=False)